EN/Rio2016 Olympics/rio2016_GLR_XMLSchema.XSD

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:annotation>
  <xs:documentation xml:lang="en">
  <![CDATA[   XML Schema generated by CaseTalk
   Date : 22-11-2017
   Time : 13:05:43
   Project : rio2016.prj
   Path : Z:\Documents\CaseTalk\Models\EN\Rio2016 Olympics\
   Description : 
   Repository : Z:\Documents\CaseTalk\Models\EN\Rio2016 Olympics\rio2016_GLR.igg
   Author : marcow
]]>
  </xs:documentation>
 </xs:annotation>

    <xs:simpleType name="X_kgs">
      <xs:restriction base="xs:integer">
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="X_meters">
      <xs:restriction base="xs:string">
        <xs:maxLength value="4"/>
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="X_points">
      <xs:restriction base="xs:integer">
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="X_years">
      <xs:restriction base="xs:integer">
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Category">
      <xs:restriction base="xs:string">
        <xs:maxLength value="11"/>
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="City">
      <xs:restriction base="xs:string">
        <xs:maxLength value="15"/>
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CountryCode">
      <xs:restriction base="xs:string">
        <xs:maxLength value="3"/>
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Country_Name">
      <xs:restriction base="xs:string">
        <xs:maxLength value="11"/>
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Day">
      <xs:restriction base="xs:date">
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="First_name">
      <xs:restriction base="xs:string">
        <xs:maxLength value="10"/>
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Function">
      <xs:restriction base="xs:string">
        <xs:maxLength value="7"/>
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="How">
      <xs:restriction base="xs:string">
        <xs:enumeration value="final score"/>
        <xs:enumeration value="judge"/>
        <xs:enumeration value="referee"/>
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="m_f">
      <xs:restriction base="xs:string">
        <xs:enumeration value="female"/>
        <xs:enumeration value="male"/>
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Medal">
      <xs:restriction base="xs:string">
        <xs:maxLength value="6"/>
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Nickname">
      <xs:restriction base="xs:string">
        <xs:maxLength value="6"/>
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Number">
      <xs:restriction base="xs:string">
        <xs:maxLength value="5"/>
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Olympics">
      <xs:restriction base="xs:string">
        <xs:maxLength value="10"/>
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Participant_ID">
      <xs:restriction base="xs:integer">
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Phase">
      <xs:restriction base="xs:string">
        <xs:maxLength value="11"/>
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SportName">
      <xs:restriction base="xs:string">
        <xs:maxLength value="9"/>
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Streetname">
      <xs:restriction base="xs:string">
        <xs:maxLength value="29"/>
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Sur_name">
      <xs:restriction base="xs:string">
        <xs:maxLength value="6"/>
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Time">
      <xs:restriction base="xs:time">
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Timezone">
      <xs:restriction base="xs:string">
        <xs:maxLength value="3"/>
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Type">
      <xs:restriction base="xs:string">
        <xs:enumeration value="athlete"/>
        <xs:enumeration value="team"/>
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="VenueName">
      <xs:restriction base="xs:string">
        <xs:maxLength value="15"/>
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="WinLooseTie">
      <xs:restriction base="xs:string">
        <xs:enumeration value="lost"/>
        <xs:enumeration value="tied"/>
        <xs:enumeration value="won"/>
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="GENID">
    <xs:annotation>
      <xs:documentation xml:lang="en">
      <![CDATA[[Description]
Artificial key domain
]]>
      </xs:documentation>
     </xs:annotation>
      <xs:restriction base="xs:integer">
      </xs:restriction>
    </xs:simpleType>


    <xs:complexType name="Athlete">
    <xs:annotation>
      <xs:documentation xml:lang="en">
      <![CDATA[[Description]

"Athlete participant <Participant> weighs <weight>kg."
"Athlete participant <Participant> is <height>m in height."
"Athlete participant <Participant> is <age> years old."
"Athlete participant <Participant> is <gender>."
"Athlete participant <Participant> has first name <first name>."
"Athlete participant <Participant> has surname <surname>."

ÿ
Data Warehouse.History=None
Dossier.Root=false
Owner.Date=24-8-2016 13:30:20
]]>
      </xs:documentation>
     </xs:annotation>
      <xs:sequence>
        <xs:element name="Participant" type="Participant_ID"/>
        <xs:element name="weight" type="X_kgs"/>
        <xs:element name="height" type="X_meters"/>
        <xs:element name="age" type="X_years"/>
        <xs:element name="gender" type="m_f"/>
        <xs:element name="first_name" type="First_name"/>
        <xs:element name="surname" type="Sur_name"/>
      </xs:sequence>
    </xs:complexType>

    <xs:element name="Athlete" type="Athlete">
      <xs:key name="Athlete_PK">
        <xs:selector xpath="."/>
        <xs:field xpath="Participant"/>
      </xs:key>
    </xs:element>


    <xs:complexType name="Competition">
    <xs:annotation>
      <xs:documentation xml:lang="en">
      <![CDATA[[Description]

"<Sport Category_Olympics> shows <Sport Category_Sport> <Sport Category> where <Phase> takes place on <Competition Moment_Day> at <Competition Moment_Time> <Competition Moment_Timezone>."
"<Sport Category_Olympics> shows <Sport Category_Sport> <Sport Category> where <Phase> takes place at venue <Competition Venue>."

ÿ
]]>
      </xs:documentation>
     </xs:annotation>
      <xs:sequence>
        <xs:element name="Sport_Category_Olympics" type="Olympics"/>
        <xs:element name="Sport_Category_Sport" type="SportName"/>
        <xs:element name="Sport_Category" type="Category"/>
        <xs:element name="Phase" type="Phase"/>
        <xs:element name="Competition_Moment_Day" type="Day" minOccurs="0" maxOccurs="1"/>
        <xs:element name="Competition_Moment_Time" type="Time" minOccurs="0" maxOccurs="1"/>
        <xs:element name="Competition_Moment_Timezone" type="Timezone" minOccurs="0" maxOccurs="1"/>
        <xs:element name="Competition_Venue" type="VenueName"/>
      </xs:sequence>
    </xs:complexType>

    <xs:element name="Competition" type="Competition">
      <xs:key name="Competition_PK">
        <xs:selector xpath="."/>
        <xs:field xpath="Sport_Category_Olympics"/>
        <xs:field xpath="Sport_Category_Sport"/>
        <xs:field xpath="Sport_Category"/>
        <xs:field xpath="Phase"/>
      </xs:key>
    </xs:element>


    <xs:complexType name="competition_official">
    <xs:annotation>
      <xs:documentation xml:lang="en">
      <![CDATA[[Description]

"<Competition_Olympics>, <Competition_Sport> <Competition_Category> in <Competition_Phase> has <Official_Function> <Official_Sur_name> <Official_First_name>."

ÿ
]]>
      </xs:documentation>
     </xs:annotation>
      <xs:sequence>
        <xs:element name="Competition_Olympics" type="Olympics"/>
        <xs:element name="Competition_Sport" type="SportName"/>
        <xs:element name="Competition_Category" type="Category"/>
        <xs:element name="Competition_Phase" type="Phase"/>
        <xs:element name="Official_Function" type="Function"/>
        <xs:element name="Official_Sur_name" type="Sur_name"/>
        <xs:element name="Official_First_name" type="First_name"/>
      </xs:sequence>
    </xs:complexType>

    <xs:element name="competition_official" type="competition_official">
      <xs:key name="competition_official_PK">
        <xs:selector xpath="."/>
        <xs:field xpath="Competition_Olympics"/>
        <xs:field xpath="Competition_Sport"/>
        <xs:field xpath="Competition_Category"/>
        <xs:field xpath="Competition_Phase"/>
        <xs:field xpath="Official_Function"/>
        <xs:field xpath="Official_Sur_name"/>
        <xs:field xpath="Official_First_name"/>
      </xs:key>
    </xs:element>


    <xs:complexType name="Competitor">
    <xs:annotation>
      <xs:documentation xml:lang="en">
      <![CDATA[[Description]

"At <Competition_Olympics>, <Competition_Sport> <Competition_Category> in <Competition_Phase> participant <Participant> scored <Competitor Score> points."
"<Competition_Olympics>, <Competition_Sport> <Competition_Category> in <Competition_Phase> participant <Participant> <Competition Result_WinLooseTie> by <Competition Result_How>."

ÿ
]]>
      </xs:documentation>
     </xs:annotation>
      <xs:sequence>
        <xs:element name="Competition_Olympics" type="Olympics"/>
        <xs:element name="Competition_Sport" type="SportName"/>
        <xs:element name="Competition_Category" type="Category"/>
        <xs:element name="Competition_Phase" type="Phase"/>
        <xs:element name="Participant" type="Participant_ID"/>
        <xs:element name="Competitor_Score" type="X_points"/>
        <xs:element name="Competition_Result_WinLooseTie" type="WinLooseTie"/>
        <xs:element name="Competition_Result_How" type="How"/>
      </xs:sequence>
    </xs:complexType>

    <xs:element name="Competitor" type="Competitor">
      <xs:key name="Competitor_PK">
        <xs:selector xpath="."/>
        <xs:field xpath="Competition_Olympics"/>
        <xs:field xpath="Competition_Sport"/>
        <xs:field xpath="Competition_Category"/>
        <xs:field xpath="Competition_Phase"/>
        <xs:field xpath="Participant"/>
      </xs:key>
    </xs:element>


    <xs:complexType name="country_name">
    <xs:annotation>
      <xs:documentation xml:lang="en">
      <![CDATA[[Description]

"Country code <Country> stands for <Country_Name>."

ÿ
]]>
      </xs:documentation>
     </xs:annotation>
      <xs:sequence>
        <xs:element name="Country" type="CountryCode"/>
        <xs:element name="Country_Name" type="Country_Name"/>
      </xs:sequence>
    </xs:complexType>

    <xs:element name="country_name" type="country_name">
        <xs:key name="country_name_U1">
        <xs:selector xpath="."/>
        <xs:field xpath="Country_Name"/>
      </xs:key>
      <xs:key name="country_name_PK">
        <xs:selector xpath="."/>
        <xs:field xpath="Country"/>
      </xs:key>
    </xs:element>


    <xs:complexType name="Medal_Winner">
    <xs:annotation>
      <xs:documentation xml:lang="en">
      <![CDATA[[Description]

"At <Sport Category_Olympics>, <Sport Category_Sport> <Sport Category> participant <Participant> won the <athlete medal> medal."

ÿ
]]>
      </xs:documentation>
     </xs:annotation>
      <xs:sequence>
        <xs:element name="Sport_Category_Olympics" type="Olympics"/>
        <xs:element name="Sport_Category_Sport" type="SportName"/>
        <xs:element name="Sport_Category" type="Category"/>
        <xs:element name="Participant" type="Participant_ID"/>
        <xs:element name="athlete_medal" type="Medal"/>
      </xs:sequence>
    </xs:complexType>

    <xs:element name="Medal_Winner" type="Medal_Winner">
      <xs:key name="Medal_Winner_PK">
        <xs:selector xpath="."/>
        <xs:field xpath="Sport_Category_Olympics"/>
        <xs:field xpath="Sport_Category_Sport"/>
        <xs:field xpath="Sport_Category"/>
        <xs:field xpath="Participant"/>
      </xs:key>
    </xs:element>


    <xs:complexType name="Olympic_Sport">
    <xs:annotation>
      <xs:documentation xml:lang="en">
      <![CDATA[[Description]

"<Olympics> shows <Sport>."

ÿ
]]>
      </xs:documentation>
     </xs:annotation>
      <xs:sequence>
        <xs:element name="Olympics" type="Olympics"/>
        <xs:element name="Sport" type="SportName"/>
      </xs:sequence>
    </xs:complexType>

    <xs:element name="Olympic_Sport" type="Olympic_Sport">
      <xs:key name="Olympic_Sport_PK">
        <xs:selector xpath="."/>
        <xs:field xpath="Olympics"/>
        <xs:field xpath="Sport"/>
      </xs:key>
    </xs:element>


    <xs:complexType name="Participant">
    <xs:annotation>
      <xs:documentation xml:lang="en">
      <![CDATA[[Description]

"Participant <Participant_ID> plays for <Country Participant_Country>."
"Participant <Participant_ID> plays <Participant Sport>."
"Participant <Participant_ID> is a(n) <Participant Type>."

ÿ
]]>
      </xs:documentation>
     </xs:annotation>
      <xs:sequence>
        <xs:element name="Participant_ID" type="Participant_ID"/>
        <xs:element name="Country_Participant_Country" type="CountryCode"/>
        <xs:element name="Participant_Sport" type="SportName" minOccurs="0" maxOccurs="1"/>
        <xs:element name="Participant_Type" type="Type"/>
      </xs:sequence>
    </xs:complexType>

    <xs:element name="Participant" type="Participant">
      <xs:key name="Participant_PK">
        <xs:selector xpath="."/>
        <xs:field xpath="Participant_ID"/>
      </xs:key>
    </xs:element>


    <xs:complexType name="Sport_Category">
    <xs:annotation>
      <xs:documentation xml:lang="en">
      <![CDATA[[Description]

"<Olympic Sport_Olympics> shows <Olympic Sport> with category <Category>."

ÿ
]]>
      </xs:documentation>
     </xs:annotation>
      <xs:sequence>
        <xs:element name="Olympic_Sport_Olympics" type="Olympics"/>
        <xs:element name="Olympic_Sport" type="SportName"/>
        <xs:element name="Category" type="Category"/>
      </xs:sequence>
    </xs:complexType>

    <xs:element name="Sport_Category" type="Sport_Category">
      <xs:key name="Sport_Category_PK">
        <xs:selector xpath="."/>
        <xs:field xpath="Olympic_Sport_Olympics"/>
        <xs:field xpath="Olympic_Sport"/>
        <xs:field xpath="Category"/>
      </xs:key>
    </xs:element>


    <xs:complexType name="Street">
      <xs:sequence>
        <xs:element name="Streetname" type="Streetname"/>
        <xs:element name="Number" type="Number"/>
      </xs:sequence>
    </xs:complexType>

    <xs:element name="Street" type="Street">
      <xs:key name="Street_PK">
        <xs:selector xpath="."/>
        <xs:field xpath="Streetname"/>
        <xs:field xpath="Number"/>
      </xs:key>
    </xs:element>


    <xs:complexType name="Team">
      <xs:complexContent>
      <xs:extension base="Team_Member">
      </xs:extension>
      </xs:complexContent>
    </xs:complexType>

    <xs:element name="Team" type="Team">
      <xs:key name="Team_PK">
        <xs:selector xpath="."/>
