EN/WorkingHours/WorkingHours_GLR_XMLSchema.XSD

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:annotation>
  <xs:documentation xml:lang="en">
  <![CDATA[   XML Schema generated by CaseTalk
   Date : 17-4-2018
   Time : 11:25:56
   Project : WorkingHours.prj
   Path : \\Mac\Home\Documents\CaseTalk\Models\EN\WorkingHours\
   Description : A more realistic example where worksheets are verbalized and modeled. The model validation shows potential redundancy warnings.

   Repository : \\Mac\Home\Documents\CaseTalk\Models\EN\WorkingHours\WorkingHours_GLR.igg
   Author : BCP Software
]]>
  </xs:documentation>
 </xs:annotation>

    <xs:simpleType name="amount_of_euros">
      <xs:restriction base="xs:integer">
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="amount_of_hours">
      <xs:restriction base="xs:integer">
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="City">
      <xs:restriction base="xs:string">
        <xs:maxLength value="7"/>
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="customer_name">
      <xs:restriction base="xs:string">
        <xs:maxLength value="20"/>
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="customernumber">
      <xs:restriction base="xs:integer">
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="description">
      <xs:restriction base="xs:string">
        <xs:maxLength value="42"/>
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="division_name">
      <xs:restriction base="xs:string">
        <xs:maxLength value="13"/>
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="division_nr">
      <xs:restriction base="xs:integer">
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="employee_no">
      <xs:restriction base="xs:integer">
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="person_name">
      <xs:restriction base="xs:string">
        <xs:maxLength value="14"/>
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="project_no">
      <xs:restriction base="xs:string">
        <xs:maxLength value="7"/>
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="task_name">
      <xs:restriction base="xs:string">
        <xs:maxLength value="11"/>
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="title_code">
      <xs:restriction base="xs:string">
        <xs:enumeration value="ing"/>
        <xs:enumeration value="ir"/>
        <xs:enumeration value="mr"/>
        <xs:enumeration value="mrs"/>
        <xs:enumeration value="ms"/>
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="wbs_number">
      <xs:restriction base="xs:integer">
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="week_no">
      <xs:restriction base="xs:integer">
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="year_no">
      <xs:restriction base="xs:integer">
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="GENID">
    <xs:annotation>
      <xs:documentation xml:lang="en">
      <![CDATA[Artificial key domain]]>
      </xs:documentation>
     </xs:annotation>
      <xs:restriction base="xs:integer">
      </xs:restriction>
    </xs:simpleType>


    <xs:complexType name="Customer">
    <xs:annotation>
      <xs:documentation xml:lang="en">
      <![CDATA[what can this mean?

"Customer <customernumber> has name <Name of Customer>."

ÿ
Data Warehouse.History=No history
]]>
      </xs:documentation>
     </xs:annotation>
      <xs:sequence>
        <xs:element name="customernumber" type="customernumber"/>
        <xs:element name="Name_of_Customer" type="customer_name"/>
      </xs:sequence>
    </xs:complexType>

    <xs:element name="Customer" type="Customer">
      <xs:key name="Customer_PK">
        <xs:selector xpath="."/>
        <xs:field xpath="customernumber"/>
      </xs:key>
        <xs:key name="Customer_U2">
        <xs:selector xpath="."/>
        <xs:field xpath="Name_of_Customer"/>
      </xs:key>
    </xs:element>


    <xs:complexType name="Customer_Location">
    <xs:annotation>
      <xs:documentation xml:lang="en">
      <![CDATA["Customer <Customer> is located in <City>."
ÿ
]]>
      </xs:documentation>
     </xs:annotation>
      <xs:sequence>
        <xs:element name="Customer" type="customernumber"/>
        <xs:element name="City" type="City"/>
      </xs:sequence>
    </xs:complexType>

    <xs:element name="Customer_Location" type="Customer_Location">
      <xs:key name="Customer_Location_PK">
        <xs:selector xpath="."/>
        <xs:field xpath="Customer"/>
        <xs:field xpath="City"/>
      </xs:key>
    </xs:element>


    <xs:complexType name="Division">
    <xs:annotation>
      <xs:documentation xml:lang="en">
      <![CDATA["Division <division nr> has name <Name of Division>."
ÿ
]]>
      </xs:documentation>
     </xs:annotation>
      <xs:sequence>
        <xs:element name="division_nr" type="division_nr"/>
        <xs:element name="Name_of_Division" type="division_name"/>
      </xs:sequence>
    </xs:complexType>

    <xs:element name="Division" type="Division">
      <xs:key name="Division_PK">
        <xs:selector xpath="."/>
        <xs:field xpath="division_nr"/>
      </xs:key>
        <xs:key name="Division_U2">
        <xs:selector xpath="."/>
        <xs:field xpath="Name_of_Division"/>
      </xs:key>
    </xs:element>


    <xs:complexType name="Employee">
    <xs:annotation>
      <xs:documentation xml:lang="en">
      <![CDATA["Employee <employee no> has name <Employee Name>."
"Employee <employee no> has title <Title>."
"Employee <employee no> is arranged to division <Division>."

ÿ
]]>
      </xs:documentation>
     </xs:annotation>
      <xs:sequence>
        <xs:element name="employee_no" type="employee_no"/>
        <xs:element name="Employee_Name" type="person_name"/>
        <xs:element name="Title" type="title_code" minOccurs="0" maxOccurs="1"/>
        <xs:element name="Division" type="division_nr"/>
      </xs:sequence>
    </xs:complexType>

    <xs:element name="Employee" type="Employee">
      <xs:key name="Employee_PK">
        <xs:selector xpath="."/>
        <xs:field xpath="employee_no"/>
      </xs:key>
    </xs:element>


    <xs:complexType name="Hour_Rate">
    <xs:annotation>
      <xs:documentation xml:lang="en">
      <![CDATA["From week <Year><week no> the hour rate for employee <Employee> working on project <Project> is EUR <Amount>."
ÿ
]]>
      </xs:documentation>
     </xs:annotation>
      <xs:sequence>
        <xs:element name="Year" type="year_no"/>
        <xs:element name="week_no" type="week_no"/>
        <xs:element name="Employee" type="employee_no"/>
        <xs:element name="Project" type="project_no"/>
        <xs:element name="Amount" type="amount_of_euros"/>
      </xs:sequence>
    </xs:complexType>

    <xs:element name="Hour_Rate" type="Hour_Rate">
      <xs:key name="Hour_Rate_PK">
        <xs:selector xpath="."/>
        <xs:field xpath="Year"/>
        <xs:field xpath="week_no"/>
        <xs:field xpath="Employee"/>
        <xs:field xpath="Project"/>
      </xs:key>
    </xs:element>


    <xs:complexType name="Project">
    <xs:annotation>
      <xs:documentation xml:lang="en">
      <![CDATA["Project <project no> is the responsibility of division <Division>."
"Project <project no> is managed by employee <Employee>."
"Project <project no> is carried out for customer <Customer>."
"Project <project no> has description <Project Description>."

ÿ
]]>
      </xs:documentation>
     </xs:annotation>
      <xs:sequence>
        <xs:element name="project_no" type="project_no"/>
        <xs:element name="Division" type="division_nr"/>
        <xs:element name="Employee" type="employee_no" minOccurs="0" maxOccurs="1"/>
        <xs:element name="Customer" type="customernumber"/>
        <xs:element name="Project_Description" type="description"/>
      </xs:sequence>
    </xs:complexType>

    <xs:element name="Project" type="Project">
      <xs:key name="Project_PK">
        <xs:selector xpath="."/>
        <xs:field xpath="project_no"/>
      </xs:key>
    </xs:element>


    <xs:complexType name="Work_Task">
    <xs:annotation>
      <xs:documentation xml:lang="en">
      <![CDATA["There is a Work Task with wbs code <wbs number>."
"Work task <wbs number> has name <Work Task Name>."

ÿ
]]>
      </xs:documentation>
     </xs:annotation>
      <xs:sequence>
        <xs:element name="wbs_number" type="wbs_number"/>
        <xs:element name="Work_Task_Name" type="task_name"/>
      </xs:sequence>
    </xs:complexType>

    <xs:element name="Work_Task" type="Work_Task">
      <xs:key name="Work_Task_PK">
        <xs:selector xpath="."/>
        <xs:field xpath="wbs_number"/>
      </xs:key>
        <xs:key name="Work_Task_U2">
        <xs:selector xpath="."/>
        <xs:field xpath="Work_Task_Name"/>
      </xs:key>
    </xs:element>


    <xs:complexType name="Working_Hours">
    <xs:annotation>
      <xs:documentation xml:lang="en">
      <![CDATA["In week <Year><week no> employee <Employee> working on project <Project> <amount of hours> hours at work task <Work Task> ."
ÿ
]]>
      </xs:documentation>
     </xs:annotation>
      <xs:sequence>
        <xs:element name="Year" type="year_no"/>
        <xs:element name="week_no" type="week_no"/>
        <xs:element name="Employee" type="employee_no"/>
        <xs:element name="Project" type="project_no"/>
        <xs:element name="Work_Task" type="wbs_number"/>
        <xs:element name="amount_of_hours" type="amount_of_hours"/>
      </xs:sequence>
    </xs:complexType>

    <xs:element name="Working_Hours" type="Working_Hours">
        <xs:key name="Working_Hours_U1">
        <xs:selector xpath="."/>
        <xs:field xpath="Year"/>
        <xs:field xpath="week_no"/>
        <xs:field xpath="Employee"/>
        <xs:field xpath="Project"/>
        <xs:field xpath="amount_of_hours"/>
      </xs:key>
      <xs:key name="Working_Hours_PK">
        <xs:selector xpath="."/>
        <xs:field xpath="Year"/>
        <xs:field xpath="week_no"/>
        <xs:field xpath="Employee"/>
        <xs:field xpath="Project"/>
        <xs:field xpath="Work_Task"/>
      </xs:key>
    </xs:element>


</xs:schema>
