EN/WorkingHours/WorkingHours_GLR_XMLSchema.XSD

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:annotation>
  <xs:documentation xml:lang="en">
  <![CDATA[   XML Schema generated by CaseTalk
   Date : 22-11-2017
   Time : 12:54:57
   Project : WorkingHours.prj
   Path : \\Mac\Home\Documents\CaseTalk\Modellen\WorkingHours\
   Description : 
   Repository : \\Mac\Home\Documents\CaseTalk\Modellen\WorkingHours\WorkingHours_GLR.igg
   Author : BCP Software
]]>
  </xs:documentation>
 </xs:annotation>

    <xs:simpleType name="amount_of_euros">
      <xs:restriction base="xs:integer">
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="amount_of_hours">
      <xs:restriction base="xs:integer">
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="City">
      <xs:restriction base="xs:string">
        <xs:maxLength value="7"/>
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="customer_name">
      <xs:restriction base="xs:string">
        <xs:maxLength value="20"/>
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="customernumber">
      <xs:restriction base="xs:integer">
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="description">
      <xs:restriction base="xs:string">
        <xs:maxLength value="42"/>
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="division_name">
      <xs:restriction base="xs:string">
        <xs:maxLength value="13"/>
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="division_nr">
      <xs:restriction base="xs:integer">
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="employee_no">
      <xs:restriction base="xs:integer">
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="person_name">
      <xs:restriction base="xs:string">
        <xs:maxLength value="14"/>
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="project_no">
      <xs:restriction base="xs:string">
        <xs:maxLength value="7"/>
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="task_name">
      <xs:restriction base="xs:string">
        <xs:maxLength value="11"/>
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="title_code">
      <xs:restriction base="xs:string">
        <xs:maxLength value="3"/>
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="wbs_number">
      <xs:restriction base="xs:integer">
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="week_no">
      <xs:restriction base="xs:integer">
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="year_no">
      <xs:restriction base="xs:integer">
      </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="GENID">
    <xs:annotation>
      <xs:documentation xml:lang="en">
      <![CDATA[[Description]
Artificial key domain
]]>
      </xs:documentation>
     </xs:annotation>
      <xs:restriction base="xs:integer">
      </xs:restriction>
    </xs:simpleType>


    <xs:complexType name="Customer_Location">
    <xs:annotation>
      <xs:documentation xml:lang="en">
      <![CDATA[[Description]

"Customer <Customer> is located in <City>."

ÿ
]]>
      </xs:documentation>
     </xs:annotation>
      <xs:sequence>
        <xs:element name="Customer" type="customernumber"/>
        <xs:element name="City" type="City"/>
      </xs:sequence>
    </xs:complexType>

    <xs:element name="Customer_Location" type="Customer_Location">
      <xs:key name="Customer_Location_PK">
        <xs:selector xpath="."/>
        <xs:field xpath="Customer"/>
        <xs:field xpath="City"/>
      </xs:key>
    </xs:element>


    <xs:complexType name="Employee">
    <xs:annotation>
      <xs:documentation xml:lang="en">
      <![CDATA[[Description]

"Employee <employee no> has name <Employee Name>."
"Employee <employee no> has title <Title>."
"Employee <employee no> is arranged to division <Division>."

ÿ
]]>
      </xs:documentation>
     </xs:annotation>
      <xs:sequence>
        <xs:element name="employee_no" type="employee_no"/>
        <xs:element name="Employee_Name" type="person_name"/>
        <xs:element name="Title" type="title_code" minOccurs="0" maxOccurs="1"/>
        <xs:element name="Division" type="division_nr"/>
      </xs:sequence>
    </xs:complexType>

    <xs:element name="Employee" type="Employee">
      <xs:key name="Employee_PK">
        <xs:selector xpath="."/>
        <xs:field xpath="employee_no"/>
      </xs:key>
    </xs:element>


    <xs:complexType name="Hour_Rate">
    <xs:annotation>
      <xs:documentation xml:lang="en">
      <![CDATA[[Description]

"From week <Year><week no> the hour rate for employee <Employee> working on project <Project> is EUR <Amount>."

ÿ
]]>
      </xs:documentation>
     </xs:annotation>
      <xs:sequence>
        <xs:element name="Year" type="year_no"/>
        <xs:element name="week_no" type="week_no"/>
        <xs:element name="Employee" type="employee_no"/>
        <xs:element name="Project" type="project_no"/>
        <xs:element name="Amount" type="amount_of_euros"/>
      </xs:sequence>
    </xs:complexType>

    <xs:element name="Hour_Rate" type="Hour_Rate">
      <xs:key name="Hour_Rate_PK">
        <xs:selector xpath="."/>
        <xs:field xpath="Year"/>
        <xs:field xpath="week_no"/>
        <xs:field xpath="Employee"/>
        <xs:field xpath="Project"/>
      </xs:key>
    </xs:element>


    <xs:complexType name="Name_of_Customer">
    <xs:annotation>
      <xs:documentation xml:lang="en">
      <![CDATA[[Description]
blablabla

"Customer <Customer> has name <customer name>."

ÿ
Data Warehouse.History=No history
Source.Modeler=marcow
Source.Modified at=26-10-2017 17:00:10
Source.Created at=26-10-2017 17:00:10
]]>
      </xs:documentation>
     </xs:annotation>
      <xs:sequence>
        <xs:element name="Customer" type="customernumber"/>
        <xs:element name="customer_name" type="customer_name"/>
      </xs:sequence>
    </xs:complexType>

    <xs:element name="Name_of_Customer" type="Name_of_Customer">
        <xs:key name="Name_of_Customer_U1">
        <xs:selector xpath="."/>
        <xs:field xpath="customer_name"/>
      </xs:key>
      <xs:key name="Name_of_Customer_PK">
        <xs:selector xpath="."/>
        <xs:field xpath="Customer"/>
      </xs:key>
    </xs:element>


    <xs:complexType name="Name_of_Division">
    <xs:annotation>
      <xs:documentation xml:lang="en">
      <![CDATA[[Description]

"Division <Division> has name <division name>."

ÿ
]]>
      </xs:documentation>
     </xs:annotation>
      <xs:sequence>
        <xs:element name="Division" type="division_nr"/>
        <xs:element name="division_name" type="division_name"/>
      </xs:sequence>
    </xs:complexType>

    <xs:element name="Name_of_Division" type="Name_of_Division">
        <xs:key name="Name_of_Division_U1">
        <xs:selector xpath="."/>
        <xs:field xpath="division_name"/>
      </xs:key>
      <xs:key name="Name_of_Division_PK">
        <xs:selector xpath="."/>
        <xs:field xpath="Division"/>
      </xs:key>
    </xs:element>


    <xs:complexType name="Project">
    <xs:annotation>
      <xs:documentation xml:lang="en">
      <![CDATA[[Description]

"Project <project no> is the responsibility of division <Division>."
"Project <project no> is carried out for customer <Customer>."
"Project <project no> has description <Project Description>."

ÿ
]]>
      </xs:documentation>
     </xs:annotation>
      <xs:sequence>
        <xs:element name="project_no" type="project_no"/>
        <xs:element name="Division" type="division_nr"/>
        <xs:element name="Customer" type="customernumber"/>
        <xs:element name="Project_Description" type="description"/>
      </xs:sequence>
    </xs:complexType>

    <xs:element name="Project" type="Project">
      <xs:key name="Project_PK">
        <xs:selector xpath="."/>
        <xs:field xpath="project_no"/>
      </xs:key>
    </xs:element>


    <xs:complexType name="Project_Manager">
    <xs:annotation>
      <xs:documentation xml:lang="en">
      <![CDATA[[Description]

"Project <Project> is managed by employee <Employee>."

ÿ
]]>
      </xs:documentation>
     </xs:annotation>
      <xs:sequence>
        <xs:element name="Project" type="project_no"/>
        <xs:element name="Employee" type="employee_no"/>
      </xs:sequence>
    </xs:complexType>

    <xs:element name="Project_Manager" type="Project_Manager">
      <xs:key name="Project_Manager_PK">
        <xs:selector xpath="."/>
        <xs:field xpath="Project"/>
        <xs:field xpath="Employee"/>
      </xs:key>
    </xs:element>


    <xs:complexType name="Work_Task_Name">
    <xs:annotation>
      <xs:documentation xml:lang="en">
      <![CDATA[[Description]

"Work task <Work Task> has name <task name>."

ÿ
]]>
      </xs:documentation>
     </xs:annotation>
      <xs:sequence>
        <xs:element name="Work_Task" type="wbs_number"/>
        <xs:element name="task_name" type="task_name"/>
      </xs:sequence>
    </xs:complexType>

    <xs:element name="Work_Task_Name" type="Work_Task_Name">
        <xs:key name="Work_Task_Name_U1">
        <xs:selector xpath="."/>
        <xs:field xpath="task_name"/>
      </xs:key>
      <xs:key name="Work_Task_Name_PK">
        <xs:selector xpath="."/>
        <xs:field xpath="Work_Task"/>
      </xs:key>
    </xs:element>


    <xs:complexType name="Working_Hours">
    <xs:annotation>
      <xs:documentation xml:lang="en">
      <![CDATA[[Description]

"In week <Year><week no> employee <Employee> working on project <Project> <amount of hours> hours at work task <Work Task> ."

ÿ
]]>
      </xs:documentation>
     </xs:annotation>
      <xs:sequence>
        <xs:element name="Year" type="year_no"/>
        <xs:element name="week_no" type="week_no"/>
        <xs:element name="Employee" type="employee_no"/>
        <xs:element name="Project" type="project_no"/>
        <xs:element name="Work_Task" type="wbs_number"/>
        <xs:element name="amount_of_hours" type="amount_of_hours"/>
      </xs:sequence>
    </xs:complexType>

    <xs:element name="Working_Hours" type="Working_Hours">
        <xs:key name="Working_Hours_U1">
        <xs:selector xpath="."/>
        <xs:field xpath="Year"/>
        <xs:field xpath="week_no"/>
        <xs:field xpath="Employee"/>
        <xs:field xpath="Project"/>
        <xs:field xpath="amount_of_hours"/>
      </xs:key>
      <xs:key name="Working_Hours_PK">
        <xs:selector xpath="."/>
        <xs:field xpath="Year"/>
        <xs:field xpath="week_no"/>
        <xs:field xpath="Employee"/>
        <xs:field xpath="Project"/>
        <xs:field xpath="Work_Task"/>
      </xs:key>
    </xs:element>


</xs:schema>
